/* =========================
   Global Styles
========================= */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EFEFEF;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
}

/* =========================
   Header Section
========================= */

header {
    display: flex;
    justify-content: center;
    padding: 40px 0px 0px 0px;
}

.navigation-section {
    background-color: white;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.navigation-section h2 {
    background-color: #CEEC25;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 1.6rem;
    font-family: "Sekuya", system-ui;
    padding: 10px 24px;
}

nav {
    display: flex;
}

.navs {
    font-family: "Sekuya", system-ui;
    font-size: 15px;
    text-decoration: none;
    padding: 20px;
    color: #8e8e8e;
    transition: 0.3s ease-out;
}

.navs:hover {
    display: flex;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    transform: translateY(-5px);
}

.navigation-section nav .menu {
    display: none;
}

.btn-contact {
    font-size: 0.75rem;
    background-color: black;
    font-family: "Sekuya", system-ui;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    width: 180px;
    cursor: pointer;
    border: none;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-out;
}

.btn-contact:hover {
    transform: scale(1.1);
}

.arrow-up-right {
    padding: 10px;
    background-color: #CEEC25;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
}

/* =========================
   Hero Section
========================= */
.hero {
    display: flex;
    justify-content: center;
}

.intro {
    padding: 80px 30px 0px 30px;
    font-family: "Sekuya", system-ui;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.intro h1 {
    font-size: 5rem;
}

.intro h4 {
    font-size: 4rem;
    margin-bottom: 30px;
    text-align: center;
}

.view-btn {
    text-decoration: none;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 40px;
    background-color: #CEEC25;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-family: "Sekuya", system-ui;
    transition: 0.3s ease-out;
}

.view-btn:hover {
    transform: scale(1.1);
}

.image-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.upper-section {
    width: 100%;
    background-color: black;
}

.unique-shape {
    width: 100%;
    transform: rotate(180deg);
    background-color: black;
}

/* =========================
   About Section
========================= */

.about {
    position: relative;
    margin-top: -50px;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    background-color: rgb(255, 255, 255);
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
}

.about-content h1 {
    display: flex;
    justify-content: center;
    font-family: "Sekuya", system-ui;
    margin-bottom: 50px;
    font-size: 1.8rem;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding: 30px;
}

.about-grid p {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
}

.avtar {
    background-color: rgb(170, 170, 170);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avtar img {
    width: 110px;

}

/* =========================
   Skill Section
========================= */

.skills {
    background-color: black;
    padding: 40px 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.skills h1 {
    font-family: "Sekuya", system-ui;
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.8rem;
}

.tags i {
    font-size: 20px;
}

.skill-banners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 20px;

}

.skill-banners p {
    font-family: 'Poppins', sans-serif;
}

.banners {
    background-color: #0d1217;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.301);
    border-bottom: 4px solid #ceec255d;
    height: 100%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 30px;
    gap: 20px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.247); */
}

.card-header h2 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.card-header .code-icon {
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #0e1417;
    border: 1px solid rgba(255, 255, 255, 0.301);
    color: #CEEC25;
}

.card-header3 h2 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}


.logo-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title .dot {
    color: #CEEC25;
    font-size: 7px;
}

.title span {
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.452);
    font-size: 13px;
}

.progress-section {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-evenly;
}

.progress-area {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.progress-area p {
    width: 60px;
}

.progress-line {
    background-color: #8e8e8e;
    border-radius: 15px;
    width: 50%;
    height: 6px;
    text-align: center;
}

.skiil1 {
    background-color: #CEEC25;
    border-radius: 15px;
    width: 80%;
    height: 6px;
}

.progress-area .percent {
    width: 40px;
}

.c {
    width: 90%;
}

.c-plus {
    width: 85%;
}

.python {
    width: 80%;
}

.html {
    width: 95%;
}

.css {
    width: 80%;
}

.Javascript {
    width: 40%;
}

.git {
    width: 90%;
}

.github {
    width: 90%;
}

.vs {
    width: 95%;
}

.tags {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.tag {
    padding: 13px;
    background-color: #CEEC25;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 60px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.tool {
    margin-top: 20px;
}

/* =========================
   Project Section
========================= */

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
    background-color: white;
    font-family: "Sekuya", system-ui;
}

.project h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 60px;
}

.project-banners {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project-cards {
    margin-bottom: 40px;
    min-height: 160px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    padding: 0px 20px 20px 20px;
    display: flex;
    gap: 150px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.project-number h1 {
    font-size: 2rem;
    color: #a1be01;
    margin-right: 40px;
    font-weight: bold;
}

.project-details {
    max-width: 400px;
    display: flex;
    text-align: start;
}

.project-details h4 {
    font-size: 1.4rem;
    font-weight: bolder;
}

.project-details p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.8;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
}

.project-image img {
    width: 190px;
    border-radius: 15px;
}

.projects-icons {
    display: flex;
    gap: 20px;
}

.projects-icons img {
    width: 24px;
}

.arrow-button a {
    font-size: 20px;
    height: 40px;
    padding: 10px;
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 999px;
    display: flex;
    align-items: center;
}

.arrow-button2 a {
    font-size: 1.4rem;
    padding: 10px;
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 999px;
    display: flex;
    align-items: center;
}

/* =========================
   Education Section
========================= */

.education {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 40px 20px;
    color: #ffffff;
    flex-direction: column;
}

.education h1 {
    font-size: 1.8rem;
    font-family: "Sekuya", system-ui;
    text-align: center;
    margin-bottom: 60px;
}

.education-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.education-icons {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0px 50px;
}

.line {
    position: absolute;
    background: #CEEC25;
    height: 2px;
    width: 790px;
    top: 25px;
    left: 7%;
    right: 8%;
    z-index: 0;
    margin: 0 auto;
}

.card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.icons {
    padding: 15px;
    background-color: #CEEC25;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.card {
    width: 370px;
    height: 230px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.education-details {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.year {
    color: rgb(0, 0, 0);
    background-color: #c9ec06;
    padding: 7px;
    margin-bottom: 10px;
    width: 100px;
    border-radius: 12px;
    font-weight: bold;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.education-details h5 {
    color: black;
    font-size: 1rem;
    margin-bottom: 5px;
}

.education-details p {
    color: rgb(98, 98, 98);
    margin-bottom: 8px;
}

.education-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.college-details {
    color: black;
    text-align: center;
    font-size: 0.8rem;
    width: 90%;
    margin-bottom: 8px;
}

.school-details {
    margin-bottom: 30px;
}

.cgpa {
    color: rgb(0, 0, 0);
    background-color: #e0f373;
    padding: 5px;
    width: fit-content;
    border-radius: 12px;
    font-weight: bold;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.line-vertically {
    position: absolute;
    background: #CEEC25;
    height: 470px;
    width: 2px;
    top: 80px;
    left: 4%;
    right: 8%;
    z-index: 0;
}

/* =========================
   Contact Section
========================= */

.contact {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    background-color: white;
}

.contact-menu {
    width: 60%;
    height: 500px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.contact-menu h1 {
    font-size: 2rem;
    color: white;
    font-family: "Sekuya", system-ui;
    padding: 40px 0px;
}

.contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    margin: 70px 0px 60px 0px;
}

.contact-icons{
    padding: 20px;
    background-color: #e0f759;
    font-size: 22px;
    color: black;
    border-radius: 999px;
    border: none;
    margin-bottom: 30px;
}

.contact-methods h4{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.contact-methods span ,a{
    font-size: 1rem;
    text-decoration: none;
    color: white;
}
.lets-talk-button{
    display: flex;
    justify-content: center;
}

.talk-btn {
    color: rgb(0, 0, 0);
    background-color:#c9ec06;
    padding: 10px;;
    border: none;
    border-radius: 40px;
    width: 240px;
     font-family: "Sekuya", system-ui;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 1rem;
     cursor: pointer;
}
.talk-btn h3{
    margin-left: 30px;
}

.arrow-up2-right {
    padding: 10px;
    background-color: #000000;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}



/* =========================
   Footer Section
========================= */

.footer-section {
    background-color: black;
    height: 400px;
    width: 100%;
}

/* ANIMATIONS */

.autoShow {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
    from {
        opacity: 0%;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.autoShow2 {
    animation: logo both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes logo {
    from {
        opacity: 0%;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.autoShowpara {
    animation: about-text both;
    animation-timeline: view();
    animation-range: entry 20% cover 50vh;
}

@keyframes about-text {
    from {
        opacity: 0%;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.autoShowleft-right {
    animation: banner both;
    animation-timeline: view();
    animation-range: entry 100% cover 50vh;
}

@keyframes banner {
    from {
        opacity: 0%;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.autoShowright-left {
    animation: about-text both;
    animation-timeline: view();
    animation-range: entry 100% cover 50vh;
}

@keyframes about-text {
    from {
        opacity: 0%;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* =======================
    Responsive Design
  ========================
*/

@media (min-width:1919px) {
    .line-vertically {
        display: none;
    }

}

@media (max-width:1919px) {
    .intro h1 {
        font-size: 4rem;
    }

    .intro h4 {
        font-size: 3rem;
        margin-bottom: 40px;
    }

    .arrow-button2 {
        display: none;
    }

    .line-vertically {
        display: none;
    }

}

@media (max-width:1366px) {
    .education-icons {
        display: flex;
        flex-direction: column;
    }

    .card-section {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .line {
        display: none;
    }

    .icons {
        margin: 0;

    }

    .card {
        margin: 0;
        width: 90%;
        height: 180px;
    }

    .line-vertically {
        display: block;
    }

    .education-headings {
        width: 30%;
        align-items: start;
    }

    .education-headings h5 {
        font-size: 1.2rem;
    }

    .education-headings p {
        font-size: 1.1rem;
    }

    .education-details {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .college-details {
        width: 40%;
        text-align: left;
        font-size: 1.1rem;
        margin: 0;
    }

}

@media (max-width:1280px) {
    .intro h1 {
        font-size: 4rem;
    }

    .intro h4 {
        font-size: 2.5rem;
    }

    .skill-banners {
        max-width: 100%;
    }

    .education-headings h5 {
        font-size: 1.1rem;
    }

    .education-headings p {
        font-size: 1rem;
    }

    .college-details {
        font-size: 1rem;
    }


}

@media (max-width:1024px) {
    header {
        padding: 0px;
    }

    .navigation-section {
        width: 100%;
        border-radius: 0px;
    }

    .navs,
    .btn-contact {
        display: none;
    }

    .navigation-section nav .menu {
        display: block;
        font-size: 20px;
    }

    .hero {
        margin-top: 70px;
    }

    .intro h1 {
        font-size: 3rem;
    }

    .intro h4 {
        font-size: 2.2rem;
    }

    .image-section {
        padding: 0px;
    }

    .about h1 {
        font-size: 1.7rem;
    }

    .about-grid p {
        font-size: 1.3rem;
    }

    .skills h1 {
        font-size: 1.7rem;
    }

    .skill-banners {
        padding: 10px;
        max-width: 100%;
    }

    .project-cards {
        gap: 60px;
    }

    .project-details p {
        font-size: 0.9rem;
    }

    .project-image img {
        width: 160px;
    }

    .education-headings h5 {
        font-size: 0.9rem;
    }

    .education-headings p {
        font-size: 0.8rem;
    }

    .college-details {
        font-size: 0.8rem;
    }

    .cgpa {
        font-size: 0.8rem;
    }

}

@media (min-width:768px) {
    .arrow-button2 {
        display: none;
    }
}

@media (max-width:768px) {

    .hero {
        margin-top: 20px;
    }

    .navigation-section h2 {
        font-size: 1.3rem;
    }

    .intro h1 {
        font-size: 2.3rem;
    }

    .intro h4 {
        font-size: 2.2rem;
    }

    .view-btn {
        font-size: 1rem;
    }

    .about h1 {
        font-size: 1.3rem;
    }

    .about-grid {
        display: flex;
        flex-direction: column;
    }

    .about-grid p {
        font-size: 1.4rem;
    }

    .about-grid p {
        font-size: 1.3rem;
    }

    .avtar {
        width: 150px;
        height: 150px;
    }

    .avtar img {
        width: 90px;
        height: 118px;
    }

    .skills h1 {
        font-size: 1.4rem;
    }

    .skill-banners {
        padding: 0px;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .banners {
        width: 100%;
    }

    .project-banners {
        width: 100%;
    }

    .project-image img {
        width: 190px;
    }

    .project-cards {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 20px;
    }

    .arrow-button {
        display: none;
    }

    .arrow-button2 {
        display: block;
    }

    .education-icons {
        margin: 0px 15px;
    }

    .education-headings {
        width: 57%;
    }

    .education-headings h5 {
        font-size: 1.1rem;
    }

    .education-headings p {
        font-size: 1rem;
    }

    .college-details {
        display: none;
    }

    .cgpa {
        font-size: 0.8rem;
        padding: 3px;
    }

    .line-vertically {
        left: 5%;
    }

}

@media (max-width:480px) {
    .navigation-section h2 {
        font-size: 1.2rem;
    }

    .intro h1 {
        font-size: 1.8rem;
    }

    .intro h4 {
        font-size: 1.9rem;
    }

    .view-btn {
        font-size: 0.7rem;
    }

    .skill-banners {
        width: 100%;
        max-width: 1200px;
    }

    .details h4 {
        font-size: 1rem;
    }

    .details p {
        font-size: 0.8rem;
    }

    .project-image img {
        width: 140px;
    }

    .project-number h1 {
        font-size: 1.7rem;
    }

    .arrow-button2 {
        margin-left: 10px;
    }

    .arrow-button2 a {
        font-size: 1rem;
    }

    .education-icons {
        margin: 0px 10px;
    }

    .education-headings {
        width: 100%;
    }

    .education-headings h5 {
        font-size: 1rem;
    }

    .education-headings p {
        font-size: 0.91rem;
    }

    .education-details {
        display: flex;
        flex-direction: column;
    }

    .year {
        font-size: 0.8rem;
        padding: 4px;
    }

}

@media (max-width:390px) {
    .navigation-section h2 {
        font-size: 0.9rem;
    }

    .skill-banners {
        width: 95%;
    }

    .title span {
        font-size: 0.7rem;
    }

    .banners {
        width: 100%;
        max-width: 100%;
    }

    .card-header {
        padding: 10px 15px;
    }

    .progress-section {
        padding: 10px 15px;
    }

    .progress-area {
        gap: 10px;
    }

    .progress-area p {
        width: 45px;
        font-size: 0.6rem;
    }

    .logo-text h2 {
        font-size: 0.9rem;
    }

    .percent {
        font-size: 12px;
    }

    .tag {
        width: 40px;
    }

    .details p {
        font-size: 0.6rem;
    }

    .project-number h1 {
        margin-right: 15px;
        margin-bottom: 0px;
        font-size: 1.6rem;
    }

    .arrow-button2 a {
        font-size: 0.6rem;
    }

    .education-headings h5 {
        font-size: 0.9rem;
    }

    .education-headings p {
        font-size: 0.8rem;
    }

}

@media (max-width:320px) {
    .navigation-section {
        gap: 0px;
    }

    .navigation-section h2 {
        font-size: 0.6rem;
    }

    .intro h1 {
        font-size: 1rem;
    }

    .intro h4 {
        font-size: 1.2rem;
    }

    .view-btn {
        font-size: 0.5rem;
    }

    .about-content h1 {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }

    .about-grid {
        padding: 15px;
    }

    .avtar {
        width: 100px;
        height: 100px;
    }

    .about-grid p {
        font-size: 0.7rem;
    }

    .skills h1 {
        font-size: 0.7rem;
    }

    .skill-banners {
        width: 100%;
    }

    .title span {
        font-size: 0.6rem;
    }

    .banners {
        width: 100%;
        max-width: 100%;
    }

    .card-header {
        width: 100%;
        padding: 10px 15px;
    }

    .progress-section {
        width: 100%;
        padding: 10px 15px;
    }

    .progress-area {
        gap: 10px;
    }

    .progress-area p {
        width: 30px;
        font-size: 0.6rem;
    }

    .logo-text h2 {
        font-size: 0.9rem;
    }

    .percent p {
        font-size: 12px;
    }

    .tag {
        width: 40px;
    }

    .project h1 {
        font-size: 0.8rem;
    }

    .project-number h1 {
        font-size: 1.2rem;
    }

    .project-details {
        gap: 10px;
    }

    .shape {
        top: 10px;
    }

    .education-headings h5 {
        font-size: 0.7rem;
    }

    .education-headings p {
        font-size: 0.6rem;
    }

    .cgpa {
        font-size: 0.4rem;
        padding: 2px;
    }

    .line-vertically {
        left: 9%;
    }

}
