* {
    margin: 0%;
    padding: 0%;
    font-family: "Sekuya", system-ui;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EFEFEF;

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.navigation-section {
    width: 70%;
    background-color: white;
    border-radius: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.navigation-section h2 {
    padding: 10px 24px;
    background-color: #CEEC25;
    color: rgb(0, 0, 0);
    border-radius: 50px;
}

nav {
    display: flex;
}

.navs {
    font-size: 15px;
    gap: 90px;
    text-decoration: none;
    padding: 20px;
    color: #8e8e8e;
    transition: 0.3s ease-out;
}

.navs:hover {
    display: flex;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    transform: translateY(-5px);
}


.btn-contact {
    font-size: 12px;
    background-color: black;
    font-family: "Sekuya", system-ui;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    width: 180px;
    cursor: pointer;
    border: none;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-out;
}

.btn-contact:hover {
    transform: scale(1.1);
}

.arrow-up-right {
    padding: 10px;
    background-color: #CEEC25;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: center;
    /* padding: 50px; */
}

.intro {
    font-family: "Sekuya", system-ui;
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro h4 {
    padding-bottom: 40px;
}

#view-btn {
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 40px;
    background-color: #CEEC25;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: "Sekuya", system-ui;
}

.image-section {
    padding: 20px;
}

.image-holder {
    display: flex;
    justify-content: center;
}

.shape {
    width: 580px;
    height: 580px;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    transform: rotate(-3deg);
}

.shape img {
    height: 600px;
}

.about {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    background-color: rgb(255, 255, 255);
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
}

.about-content h1 {
    display: flex;
    justify-content: center;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding: 30px;
}

.avtar {
    background-color: rgb(170, 170, 170);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-grid p {
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skills {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 40px 20px;
    color: #ffffff;
}

.skill-banners {
    width: 1300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
}

.skill-banners h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.banners {
    width: 100%;
    height: 140px;
    background-color: #27292D;
    border-radius: 20px;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banners p {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banners h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tag {
    padding: 10px;
    background-color: #CEEC25;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.project,
h1 {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}

.project-banners {
    width: 1300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.project-cards {
    width: 100%;
    height: 120px;
    background-color: #DCDCDC;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.education {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 40px 20px;
    color: #ffffff;
}

.education-banner {
    width: 1300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.education-card {
    width: 100%;
    height: 100px;
    background-color: #27292D;
    border-radius: 20px;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-details {
    padding: 20px 10px;
    display: flex;
    /* align-items: center; */
    gap: 30px;
    flex-direction: column;
    max-width: 1300px;
}

.icon-value,
p {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 10px;
    font-size: 20px;
}

.icon-value a:hover {
    background-color: white;
    color: blue;
}

.footer-section {
    background-color: black;
    height: 400px;
}

/* ANIMATIONS */

.autoShow {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
    from {
        opacity: 0%;
        transform: translateY(100px);
    }   
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.autoShow2 {
    animation: logo both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes logo {
    from {
        opacity: 0%;
        transform: translateX(-50px);
    }   
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.autoShowpara {
    animation: about-text both;
    animation-timeline: view();
    animation-range: entry 20% cover 50vh ;
}

@keyframes about-text {
    from {
        opacity: 0%;
        transform: translateX(50px);
    }   
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.autoShowleft-right {
    animation: banner both;
    animation-timeline: view();
    animation-range: entry 100% cover 50vh;
}

@keyframes banner {
    from {
        opacity: 0%;
        transform: translateX(-50px);
    }   
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.autoShowright-left {
    animation: about-text both;
    animation-timeline: view();
    animation-range: entry 100% cover 50vh ;
}

@keyframes about-text {
    from {
        opacity: 0%;
        transform: translateX(50px);
    }   
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
